@media (min-width: 768px) {
    .excursions {
        width: 70%;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0;
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(2, calc(50% - 30px));
        justify-content: space-evenly;
        align-content: space-evenly;
        grid-auto-rows: (calc(50vh - 40px), auto);
    }
    
    .excursions__item {
        display: flex;
        align-content: space-between;
        min-height: 500px;   
        margin: 0; 
    }
    
    .excursions__item--prototype {
        display: none;
    }
    
    .excursions__title {
        font-size: 2rem;
    }
    
    .excursions__description {
        line-height: 1.4rem;
        font-size: 1.1rem;    
        margin-bottom: 10px;
    }
    
    .excursions__price {
        font-size: 1.4rem;
    }
    
    .excursions__field-input--submit {
        min-width: min-content;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .panel__form {
        width: calc(30% - 20px);
        position: static;
        height: max-content;
        margin: 20px 20px 20px 0;
        border-radius: 5px;
    }

    .form__row {
        display: block;  
        padding-bottom: 5px;      
    }

    .form__field {
        margin-top: 5px;
        background-color: var(--order-input);    
        width: 100%;
    }

    .form__field--longtext {
        font-size: 1rem;
        height: 240px;
        padding: 10px;
        font-family: 'Lato', sans-serif;
    }
    
    .form__row-price {
        display: block;
    }
    
    .form__row-price .form__row {
        display: flex;
        width: 100%;
        padding-bottom: 10px;
    }

    .form__row-price .form__field {
        margin-top: 0;
        height: auto;
    }

    .order {
        display: block;
    }
    
    .order__container {
        padding: 0;
        display: block;
    }
    
    .order__total-price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .order__total-price-value {
        width: 70%;
        text-align: right;
    }
    
    .order__field {  
        display: block;
    }
    
    .order__userdata {  
        display: block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--order-input);
    }
    
    .order__field-userdata {
        padding-bottom: 0;
    }
    
    .order__field-input {
        margin: 5px 0;   
    }
    
    .order__field--submit {
        margin-left: 0px;
        display: block;
    }
    
    .summary {
        display: block;
        margin-top: 0;
    }
    
    .summary__item {
        padding-top: 10px;
    }
    
    .summary__title {
        display: flex;
        justify-content: space-between;
        text-align: right;
    }

    .summary__name {
        width: 100%;
        padding-bottom: 5px;
    }
    
    .summary__total-price {
        margin: 0;
        font-weight: normal;
        margin-right: 3px;
    }
    
    .summary__btn-remove {
        width: fit-content;
        margin-left: 10px;
        text-align: right;
        display: block;
        font-size: .8rem;
    }

    .hamburger, 
    .open-summary,
    .open-userdata, 
    .toggler {
        display: none;
    }
}